@import "tailwindcss";
/*@tailwind base;
@tailwind components;*/
@tailwind utilities;

@theme {
  --font-sans: "Audiowide", system-ui, -apple-system,
    "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "PingFang TC", "Microsoft JhengHei", "Noto Sans CJK TC",
    "Apple Color Emoji", "Segoe UI Emoji", sans-serif;
}

/* 全站預設套用 sans 字型 */
@layer base {
  html {
    @apply font-sans;
  }
}
html, body {
  margin: 0;
  font-family:"Noto Sans TC", "PingFang TC", 
               "Microsoft JhengHei", "Heiti TC", sans-serif;
  font-weight: 500; /* 讓字看起來稍微厚一點更穩 */
}
